---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <p>
      Middleman is now running!
    </p>
    <div class="cards">
      <%= partial "layouts/card" %>
    </div>
  </div>
</div>
